.navigation {
  width: 90%;
  margin: 0 auto;
  height: 20%;
  /* position: relative; */
}
.navigation--list {
  padding: 2rem 0;
  display: inline-block;
  list-style: none;
  display: flex;
  gap: 5.2rem;
  font-size: 1.6rem;
  align-items: flex-end;
}

.navigation--logo {
  display: inline-block;
  padding: 0 64rem 0 0;
  font-size: 2.4rem;
  font-weight: 600;
}

.navigation--element-1{
  position: relative;

}


.circle {
  background-color: #5f7161;
  border-radius: 2.4rem;
  height: 5rem;
  width: 10rem;
  position: absolute;
  top: -90%;
  left: -20%;
  z-index: -1;
  transition: all 0.2s;
}

.navigation--element {
  cursor: pointer;
}
.navigation--list a {
  cursor: pointer;
  transition: all 0.4s;
}
