.chars--box {
  width: 88%;
  margin: 0 auto;
  background-color: #5f7161;
  border-radius: 3rem;
  position: relative;
  z-index: 0;
}

.chars--list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  justify-content: space-around;
  font-size: 1.2rem;
  position: static;
  z-index: 2;
  color: #5f7161;
}

.chars--el {
  width: 30%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.3;
  transition: all 2s;
}

.chars--el h6 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  transition: all 1s;
}

.chars--el p {
  transition: all 1s;
}

.chars--el ion-icon {
  display: block;
  background-color: #f5f5f5;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 12rem;
  font-size: 2.4rem;
  color: #5f7161;
  cursor: pointer;
}

.chars--cover {
  background-color: #f5f5f5;
  color: #f5f5f5;
  position: absolute;
  width: 36rem;
  height: 14rem;
  border-radius: 3rem;
  transition: all 0.5s;
  top: 37%;
  left: 2%;
  z-index: -1;
}

.chars--el--box {
  transition: all 3s;
}
